<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wirth.lagerverwaltung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lagerverwaltung"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="wirth.lagerverwaltung.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wirth.lagerverwaltung.Menue"
            android:label="@string/title_activity_menue" />
        <activity
            android:name="wirth.lagerverwaltung.Bestellungen"
            android:label="@string/title_activity_auftraege" />
        <activity
            android:name="wirth.lagerverwaltung.Auslagern"
            android:label="@string/title_activity_auslagern" />
        <activity
            android:name="wirth.lagerverwaltung.Bestand"
            android:label="@string/title_activity_bestand" />
        <activity
            android:name="wirth.lagerverwaltung.ManuellAusbuchen"
            android:label="@string/title_activity_manuell_ausbuchen" />
        <activity
            android:name="wirth.lagerverwaltung.BarcodeAusbuchen"
            android:label="@string/title_activity_barcode_ausbuchen" />
        <activity
            android:name="wirth.lagerverwaltung.Einstellungen"
            android:label="@string/title_activity_einstellungen" />
        <activity
            android:name="wirth.lagerverwaltung.Login_Einstellungen"
            android:label="@string/title_activity_login__einstellungen" />
        <activity
            android:name="wirth.lagerverwaltung.BestellungenDetail"
            android:label="@string/title_activity_bestellungen_detail" />
        <activity
            android:name="wirth.lagerverwaltung.BestellungAusbuchenKontrolle"
            android:label="@string/title_activity_bestellung_ausbuchen_kontrolle"></activity>
    </application>

</manifest>